.header-box {
    height: 52px;
    background-color: #ff6633;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.position {
    color: #fff;
    font-size: 14px;
    vertical-align: center;
    padding-left: 8px;
}
.position spac{
    vertical-align: center;
}
.position img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.user {
    padding-right: 8px;
}
.user img{
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.search img {
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.search input{
    vertical-align: middle;
    outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
}